@import '~node_modules/modern-normalize/modern-normalize.css';
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Kalam&family=Roboto:wght@400;500;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css");
.swiper {
  position: initial;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 67%;
  width: 34px;
  height: 28px;
  color: #2C2C2C;
  background: #FEFEFE;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.swiper-button-next:hover, .swiper-button-next:focus,
.swiper-button-prev:hover,
.swiper-button-prev:focus {
  color: #7EB101;
}
@media screen and (min-width: 1279.98px) {
  .swiper-button-next,
.swiper-button-prev {
    top: 50%;
    width: 48px;
    height: 40px;
  }
}

.swiper-button-next {
  right: 22px;
}
@media screen and (min-width: 1279.98px) {
  .swiper-button-next {
    right: 16px;
  }
}

.swiper-button-prev {
  left: 405px;
}
@media screen and (min-width: 1279.98px) {
  .swiper-button-prev {
    left: 656px;
  }
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
  opacity: 1;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 23px;
}
@media screen and (min-width: 1279.98px) {
  .swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 35px;
  }
}

.backdrop {
  position: fixed;
  visibility: visible;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 11;
}

.backdrop.is-hidden {
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  height: 449px;
  padding: 32px 20px;
  background: #FFE550;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 12;
}
@media screen and (min-width: 767.98px) {
  .modal {
    width: 458px;
    height: 449px;
    padding: 32px;
  }
}

.modal__btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  right: 16px;
  top: 16px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #FEFEFE;
  cursor: pointer;
}
@media screen and (min-width: 767.98px) {
  .modal__btn {
    right: 12px;
    top: 12px;
  }
}

.modal-form__title {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 20px;
  line-height: 1.2;
  color: #2C2C2C;
}

.modal-form__label {
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 2px;
  margin-left: 12px;
}

.modal-form__input {
  outline: transparent;
  width: 280px;
  height: 48px;
  border: 1px solid #7EB101;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  margin-bottom: 24px;
  padding: 12px 14px;
}
.modal-form__input:invalid {
  border-color: #ff705d;
}
.modal-form__input:hover, .modal-form__input:focus {
  border: 1px solid #7EB101;
}
.modal-form__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.2;
  color: #C4C4C4;
}
.modal-form__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.2;
  color: #C4C4C4;
}
.modal-form__input::placeholder {
  font-size: 16px;
  line-height: 1.2;
  color: #C4C4C4;
}
@media screen and (min-width: 767.98px) {
  .modal-form__input {
    width: 394px;
    border: 1px solid rgba(18, 18, 18, 0.12);
  }
}

.modal-form__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2C2C2C;
  font-family: "Roboto", sans-serif;
  background-color: #FEFEFE;
  width: 106px;
  height: 40px;
  margin: 8px auto;
  border: 2px solid #7EB101;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
}

body {
  background-color: #FEFEFE;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

address {
  font-style: normal;
}

button {
  font-family: inherit;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  color: #2C2C2C;
  margin-bottom: 20px;
}
@media screen and (min-width: 767.98px) {
  .title {
    font-size: 42px;
    line-height: 1.16;
  }
}

.container {
  min-width: 320px;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 479.98px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 767.98px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1279.98px) {
  .container {
    width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.intro {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #2C2C2C;
}
@media screen and (min-width: 767.98px) {
  .intro {
    font-size: 16px;
    line-height: 1.5;
  }
}

.header {
  background-color: #FEFEFE;
  box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
}

.header-mobile {
  display: flex;
  justify-content: space-between;
  position: relative;
  background-color: #FEFEFE;
  max-width: 479.98px;
}
@media screen and (min-width: 767.98px) {
  .header-mobile {
    display: none;
  }
}

.header-logo {
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.open__menu {
  display: flex;
  background-color: #FEFEFE;
  border: none;
  margin-top: 22px;
  margin-bottom: 22px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.open-icon {
  fill: #7EB101;
}

.close__menu {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
}

.mobile-wrap {
  opacity: 1;
  position: absolute;
  overflow: hidden;
  top: 50px;
  right: 0px;
  width: 130px;
  height: 255px;
  border-radius: 30px 0px 30px 30px;
  background-color: #FEFEFE;
  box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
  z-index: 10;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-wrap.is-open {
  opacity: 0;
}

.mobile__menu--item {
  font-weight: 400;
  padding: 16px 71px 16px 16px;
}
.mobile__menu--item:hover, .mobile__menu--item:focus {
  background-color: #BBF330;
}

.header-desktop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 767.98px) {
  .header-desktop {
    display: none;
  }
}

.desktop-nav {
  display: flex;
  align-items: baseline;
}

.mobile__menu--link {
  font-size: 16px;
  line-height: 1.18;
  color: #2C2C2C;
}

.desktop__menu--list {
  font-size: 14px;
  line-height: 1.14;
  color: #2C2C2C;
  display: flex;
  gap: 28px;
}

.desktop__menu--link {
  font-weight: 400;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.desktop__menu--link:hover, .desktop__menu--link:focus {
  color: #BBF330;
  text-decoration: underline;
}

.desktop__menu--item-current {
  font-weight: 700;
  color: #BBF330;
  text-decoration: underline;
}

.header-button {
  display: flex;
  justify-content: center;
  margin-left: 30px;
  padding: 6px 18px;
  font-size: 13px;
  line-height: 1.5;
  font-weight: 500;
  color: #2C2C2C;
  background-color: #BBF330;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-button:hover, .header-button:focus {
  background-color: #FFE550;
}

.headerbar {
  padding-top: 60px;
  padding-bottom: 50px;
}
@media screen and (min-width: 767.98px) {
  .headerbar {
    padding-bottom: 0px;
  }
}
@media screen and (min-width: 1279.98px) {
  .headerbar {
    padding-top: 14px;
  }
}

.headerbar__section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
}
@media screen and (min-width: 767.98px) {
  .headerbar__section {
    justify-content: space-between;
  }
}
@media screen and (min-width: 1279.98px) {
  .headerbar__section {
    justify-content: space-between;
  }
}

.headerbar__info {
  margin-top: 0px;
}
@media screen and (min-width: 767.98px) {
  .headerbar__info {
    margin-top: 60px;
  }
}
@media screen and (min-width: 1279.98px) {
  .headerbar__info {
    margin-top: 0px;
  }
}

.headerbar__title {
  max-width: 280px;
  margin-bottom: 28px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  color: #2C2C2C;
}
@media screen and (min-width: 767.98px) {
  .headerbar__title {
    position: absolute;
    font-size: 42px;
    line-height: 1.19;
    max-width: 537px;
    margin-bottom: 0px;
    transform: translateY(-100%);
  }
}
@media screen and (min-width: 1279.98px) {
  .headerbar__title {
    position: initial;
    font-size: 48px;
    line-height: 1.2;
    max-width: 502px;
    margin-bottom: 28px;
    transform: translateY(0%);
  }
}

.headerbar__intro {
  max-width: 266px;
  font-size: 14.1px;
  margin-bottom: 28px;
  line-height: 1.5;
}
@media screen and (min-width: 767.98px) {
  .headerbar__intro {
    margin-bottom: 40px;
    font-size: 16px;
    max-width: 336px;
    margin-top: 44px;
  }
}
@media screen and (min-width: 1279.98px) {
  .headerbar__intro {
    font-size: 16px;
    max-width: 502px;
    margin-top: 0px;
  }
}

.headerbar__button {
  color: #2C2C2C;
  border: none;
  width: 98px;
  height: 32px;
  border-radius: 30px;
  align-items: center;
  text-align: center;
  font-weight: 500;
  font-size: 13px;
  background: #BBF330;
  cursor: pointer;
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.headerbar__button:hover, .headerbar__button:focus {
  background-color: #B5FF00;
}
@media screen and (min-width: 767.98px) {
  .headerbar__button {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1279.98px) {
  .headerbar__button {
    margin-bottom: 0px;
  }
}

.mySwiper {
  display: none;
  margin: 0;
  transition: border-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 767.98px) {
  .mySwiper {
    display: flex;
    margin-top: 89px;
    justify-content: center;
    width: 320px;
    height: 320px;
    border: 14px solid #FFE550;
    border-radius: 50%;
  }
}
@media screen and (min-width: 1279.98px) {
  .mySwiper {
    margin: 14px;
    margin-top: 0;
    width: 580px;
    height: 580px;
    border: 26px solid #FFE550;
    border-radius: 50%;
  }
}
.mySwiper:hover, .mySwiper:focus {
  border-color: #BBF330;
}

.offerings__fon {
  background-repeat: no-repeat;
  background-position: bottom center;
}
@media screen and (max-width: 320px) {
  .offerings__fon {
    background-size: 100% 1050px;
    background-image: url("../images/offerings/mobbg@1x.png");
  }
}
@media screen and (max-width: 320px) and (min-device-pixel-ratio: 2), screen and (max-width: 320px) and (o-min-device-pixel-ratio: 2/1), screen and (max-width: 320px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 320px) and (min-resolution: 192dpi), screen and (max-width: 320px) and (min-resolution: 2dppx) {
  .offerings__fon {
    background-image: url("../images/offerings/mobbg@2x.png");
  }
}
@media screen and (min-width: 321px) and (max-width: 479px) {
  .offerings__fon {
    background-size: 100% 1050px;
    background-image: url("../images/offerings/mobbg480@1x.png");
  }
}
@media screen and (min-width: 321px) and (max-width: 479px) and (min-device-pixel-ratio: 2), screen and (min-width: 321px) and (max-width: 479px) and (o-min-device-pixel-ratio: 2/1), screen and (min-width: 321px) and (max-width: 479px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 321px) and (max-width: 479px) and (min-resolution: 192dpi), screen and (min-width: 321px) and (max-width: 479px) and (min-resolution: 2dppx) {
  .offerings__fon {
    background-image: url("../images/offerings/mobbg480@2x.png");
  }
}
@media screen and (min-width: 479.98px) {
  .offerings__fon {
    background-size: 100% 1050px;
    background-image: url("../images/offerings/mobbg480@1x.png");
  }
}
@media screen and (min-width: 479.98px) and (min-device-pixel-ratio: 2), screen and (min-width: 479.98px) and (o-min-device-pixel-ratio: 2/1), screen and (min-width: 479.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 479.98px) and (min-resolution: 192dpi), screen and (min-width: 479.98px) and (min-resolution: 2dppx) {
  .offerings__fon {
    background-image: url("../images/offerings/mobbg480@2x.png");
  }
}
@media screen and (min-width: 767.98px) {
  .offerings__fon {
    background-size: 100% 1140px;
    background-image: url("../images/offerings/tabbg@1x.png");
  }
}
@media screen and (min-width: 767.98px) and (min-device-pixel-ratio: 2), screen and (min-width: 767.98px) and (o-min-device-pixel-ratio: 2/1), screen and (min-width: 767.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 767.98px) and (min-resolution: 192dpi), screen and (min-width: 767.98px) and (min-resolution: 2dppx) {
  .offerings__fon {
    background-image: url("../images/offerings/tabbg@2x.png");
  }
}
@media screen and (min-width: 1279.98px) {
  .offerings__fon {
    background-size: 100% 824px;
    background-image: url("../images/offerings/deskbg@1x.png");
  }
}
@media screen and (min-width: 1279.98px) and (min-device-pixel-ratio: 2), screen and (min-width: 1279.98px) and (o-min-device-pixel-ratio: 2/1), screen and (min-width: 1279.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1279.98px) and (min-resolution: 192dpi), screen and (min-width: 1279.98px) and (min-resolution: 2dppx) {
  .offerings__fon {
    background-image: url("../images/offerings/deskbg@1x.png");
  }
}

@media screen and (max-width: 767.98px) {
  .offerings {
    padding-top: 45px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 767.98px) {
  .offerings {
    padding-top: 35px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1279.98px) {
  .offerings {
    padding-top: 25px;
    padding-bottom: 43px;
  }
}

@media screen and (min-width: 1279.98px) {
  .offerings__position {
    display: flex;
    gap: 90px;
    align-items: center;
  }
}

@media screen and (min-width: 1279.98px) {
  .offerings__wrapper {
    width: 50%;
  }
}

.offerings__decor {
  display: flex;
  height: 309px;
  background-image: url(../images/offerings/apple320@1x.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 280px 309px;
}
@media screen and (max-width: 767.98px) {
  .offerings__decor {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 767.98px) {
  .offerings__decor {
    background-image: url(../images/offerings/appletab@1x.png);
    height: 394px;
    background-size: 704px 394px;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1279.98px) {
  .offerings__decor {
    background-image: url(../images/offerings/appledesk@1x.png);
    height: 604px;
    background-size: 550px 604px;
    width: 50%;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767.98px) and (min-device-pixel-ratio: 2), screen and (max-width: 767.98px) and (--weblit-min-device-pixel-ratio: 2), screen and (max-width: 767.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767.98px) and (min-resolution: 192dpi), screen and (max-width: 767.98px) and (min-resolution: 2dppx) {
  .offerings__decor {
    background-image: url(../images/offerings/apple320@2x.png);
  }
}
@media screen and (min-width: 767.98px) and (min-device-pixel-ratio: 2), screen and (min-width: 767.98px) and (--weblit-min-device-pixel-ratio: 2), screen and (min-width: 767.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 767.98px) and (min-resolution: 192dpi), screen and (min-width: 767.98px) and (min-resolution: 2dppx) {
  .offerings__decor {
    background-image: url(../images/offerings/appletab@2x.png);
  }
}
@media screen and (min-width: 1279.98px) and (min-device-pixel-ratio: 2), screen and (min-width: 1279.98px) and (--weblit-min-device-pixel-ratio: 2), screen and (min-width: 1279.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1279.98px) and (min-resolution: 192dpi), screen and (min-width: 1279.98px) and (min-resolution: 2dppx) {
  .offerings__decor {
    background-image: url(../images/offerings/appledesk@2x.png);
  }
}
.offerings__title {
  margin-bottom: 28px;
  max-width: 280px;
}
@media screen and (min-width: 767.98px) {
  .offerings__title {
    max-width: 526px;
    margin-bottom: 20px;
    line-height: 1.16;
  }
}
@media screen and (min-width: 1279.98px) {
  .offerings__title {
    line-height: 1.19;
  }
}

.offerings__intro {
  width: 280px;
  margin-bottom: 28px;
}
@media screen and (min-width: 767.98px) {
  .offerings__intro {
    width: 500px;
    line-height: 1.14;
    margin-bottom: 40px;
  }
}

.offerings__list {
  display: flex;
  gap: 28px;
  margin-bottom: 32px;
}
@media screen and (max-width: 767.98px) {
  .offerings__list {
    flex-direction: column;
  }
}
@media screen and (min-width: 767.98px) {
  .offerings__list {
    gap: 116px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1279.98px) {
  .offerings__list {
    gap: 67px;
    margin-bottom: 32px;
  }
}

.offerings__item {
  width: 252px;
}
@media screen and (min-width: 1279.98px) {
  .offerings__item {
    width: calc((100% - 67px) / 2);
  }
}

.offerings__item::before {
  display: inline-block;
  content: "";
  width: 48px;
  height: 48px;
  background-size: contain;
  margin-bottom: 8px;
}

.icon__devil::before {
  background-image: url(../images/offerings/deliv.svg);
}

.icon__order::before {
  background-image: url(../images/offerings/order.svg);
}

.offerings__icon {
  display: block;
  margin-bottom: 8px;
  border-radius: 50%;
  background-color: #FEFEFE;
}

.offerings__subtitle {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  color: #2C2C2C;
}
@media screen and (min-width: 1279.98px) {
  .offerings__subtitle {
    line-height: 1.39;
  }
}

@media screen and (min-width: 767.98px) {
  .offerings__text {
    line-height: 1.14;
  }
}
@media screen and (min-width: 1279.98px) {
  .offerings__text {
    line-height: 1.14;
  }
}

.offerings__communication {
  display: flex;
  gap: 24px;
}

.offerings__button {
  width: 106px;
  height: 40px;
  border-radius: 30px;
  border: 2px solid #7EB101;
  background-color: #FEFEFE;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.54;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.offerings__button:hover,
.offerings__button :focus {
  border: 2px solid #597d00;
}

.offerings__link {
  font-size: 14px;
  line-height: 1.5;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1279.98px) {
  .offerings__link {
    display: none;
  }
}

.offerings__link::after {
  display: inline-block;
  content: "";
  width: 15px;
  height: 15px;
  margin-left: 4px;
  background-size: contain;
  background-image: url(../images/offerings/galka.svg);
}

.favorites {
  text-align: center;
  padding-bottom: 60px;
  padding-top: 60px;
}
@media screen and (min-width: 767.98px) {
  .favorites {
    padding-bottom: 100px;
    padding-top: 100px;
  }
}
@media screen and (max-width: 767.98px) {
  .favorites .favorites__item:not(:nth-child(-n+3)) {
    display: none;
  }
}

.favorites__title {
  margin-bottom: 20px;
}

.favorites__intro {
  margin-bottom: 60px;
}
@media screen and (min-width: 1279.98px) {
  .favorites__intro {
    margin-bottom: 40px;
  }
}

.favorites__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 20px;
  justify-content: center;
}
@media screen and (min-width: 767.98px) {
  .favorites__list {
    gap: 32px;
  }
}

.favorites__item {
  width: 280px;
  height: 280px;
  border: 11px solid #FFE550;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 767.98px) {
  .favorites__item {
    width: 336px;
    height: 336px;
    width: calc((100% - 32px) / 2);
    background: #FEFEFE;
    border: 14px solid #FFE550;
  }
}
@media screen and (min-width: 1279.98px) {
  .favorites__item {
    width: 395px;
    width: calc((100% - 64px) / 3);
    height: 395px;
  }
}

.favorites__item:hover,
.favorites__item:focus {
  border: 14px solid #BBF330;
}

.customers__fon {
  background-repeat: no-repeat;
  background-position: top center;
}
@media screen and (max-width: 320px) {
  .customers__fon {
    background-size: 100% 769px;
    background-image: url("../images/customers-say/mobile-1x.png");
  }
}
@media screen and (max-width: 320px) and (min-device-pixel-ratio: 2), screen and (max-width: 320px) and (o-min-device-pixel-ratio: 2/1), screen and (max-width: 320px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 320px) and (min-resolution: 192dpi), screen and (max-width: 320px) and (min-resolution: 2dppx) {
  .customers__fon {
    background-image: url("../images/customers-say/mobile-2x.png");
  }
}
@media screen and (min-width: 321px) and (max-width: 479px) {
  .customers__fon {
    background-size: 100% 798px;
    background-image: url("../images/customers-say/480-1x.png");
  }
}
@media screen and (min-width: 321px) and (max-width: 479px) and (min-device-pixel-ratio: 2), screen and (min-width: 321px) and (max-width: 479px) and (o-min-device-pixel-ratio: 2/1), screen and (min-width: 321px) and (max-width: 479px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 321px) and (max-width: 479px) and (min-resolution: 192dpi), screen and (min-width: 321px) and (max-width: 479px) and (min-resolution: 2dppx) {
  .customers__fon {
    background-image: url("../images/customers-say/480-2x.png");
  }
}
@media screen and (min-width: 479.98px) {
  .customers__fon {
    background-size: 100% 798px;
    background-image: url("../images/customers-say/480-1x.png");
  }
}
@media screen and (min-width: 479.98px) and (min-device-pixel-ratio: 2), screen and (min-width: 479.98px) and (o-min-device-pixel-ratio: 2/1), screen and (min-width: 479.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 479.98px) and (min-resolution: 192dpi), screen and (min-width: 479.98px) and (min-resolution: 2dppx) {
  .customers__fon {
    background-image: url("../images/customers-say/480-2x.png");
  }
}
@media screen and (min-width: 767.98px) {
  .customers__fon {
    background-size: 100% 554px;
    background-image: url("../images/customers-say/tablet-1x.png");
  }
}
@media screen and (min-width: 767.98px) and (min-device-pixel-ratio: 2), screen and (min-width: 767.98px) and (o-min-device-pixel-ratio: 2/1), screen and (min-width: 767.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 767.98px) and (min-resolution: 192dpi), screen and (min-width: 767.98px) and (min-resolution: 2dppx) {
  .customers__fon {
    background-image: url("../images/customers-say/tablet-2x.png");
  }
}
@media screen and (min-width: 1279.98px) {
  .customers__fon {
    background-size: 100% 647px;
    background-image: url("../images/customers-say/desktop-1x.png");
  }
}
@media screen and (min-width: 1279.98px) and (min-device-pixel-ratio: 2), screen and (min-width: 1279.98px) and (o-min-device-pixel-ratio: 2/1), screen and (min-width: 1279.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1279.98px) and (min-resolution: 192dpi), screen and (min-width: 1279.98px) and (min-resolution: 2dppx) {
  .customers__fon {
    background-image: url("../images/customers-say/desktop-2x.png");
  }
}

.customers {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1279.98px) {
  .customers {
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1279.98px) {
  .customers {
    padding-top: 100px;
    padding-bottom: 120px;
  }
}

@media screen and (min-width: 767.98px) {
  .customers-blocks {
    display: flex;
  }
}

.customers__title {
  width: 280px;
}
@media screen and (min-width: 767.98px) {
  .customers__title {
    width: 100%;
  }
}

.customers__intro {
  width: 280px;
  margin-bottom: 32px;
}
@media screen and (min-width: 767.98px) {
  .customers__intro {
    width: 100%;
  }
}

.customers-blocks__item {
  width: 280px;
  padding: 8px;
  background: #FEFEFE;
  border-radius: 0px 30px 30px 30px;
}
@media screen and (max-width: 767.98px) {
  .customers-blocks__item {
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 767.98px) {
  .customers-blocks__item {
    width: 336px;
    padding: 12px;
  }
}
@media screen and (min-width: 1279.98px) {
  .customers-blocks__item {
    width: 501px;
    padding: 14px;
  }
}

@media screen and (min-width: 767.98px) {
  .customers-blocks__item:not(:last-child) {
    margin-right: 32px;
  }
}
@media screen and (min-width: 1279.98px) {
  .customers-blocks__item:not(:last-child) {
    margin-right: 139px;
  }
}

.customers-ranking {
  margin-bottom: 28px;
  display: flex;
  gap: 4px;
}

.customers-blocks__text {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.18;
  color: #2C2C2C;
}
@media screen and (min-width: 767.98px) {
  .customers-blocks__text {
    font-size: 18px;
    line-height: 1.16;
  }
}

.customers-blocks__link {
  height: 52px;
  display: flex;
}

.customers-personabout {
  width: 93px;
  margin-left: 16px;
  display: flex;
  flex-wrap: wrap;
  border-right: 0.854167px solid #7eb101;
}

.customers-blocks__name {
  margin-bottom: 2px;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #2C2C2C;
}

.customers-blocks__employment {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #2C2C2C;
}

.subscribes {
  margin-top: -70px;
  padding-bottom: 60px;
}
@media screen and (min-width: 767.98px) {
  .subscribes {
    margin-top: -13px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1279.98px) {
  .subscribes {
    margin-top: -5px;
    padding-bottom: 64px;
  }
}

@media screen and (min-width: 1279.98px) {
  .subscribe__column {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
}

.subscribe__liner {
  display: flex;
  flex-direction: column-reverse;
  height: 78px;
  margin-bottom: 17px;
  background-image: url("../images/subscribe/subscribe-mob-1x.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 161px 78px;
}
@media (min-device-pixel-ratio: 2), screen and (o-min-device-pixel-ratio: 2/1), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .subscribe__liner {
    background-image: url("../images/subscribe/subscribe-mob-2x.png");
  }
}
@media (min-device-pixel-ratio: 1), screen and (o-min-device-pixel-ratio: 1/1), screen and (-webkit-min-device-pixel-ratio: 1), screen and (min-resolution: 96dpi), screen and (min-resolution: 1dppx) {
  .subscribe__liner {
    background-image: url("../images/subscribe/subscribe-mob-1x.webp");
  }
}
@media (min-device-pixel-ratio: 2), screen and (o-min-device-pixel-ratio: 2/1), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .subscribe__liner {
    background-image: url("../images/subscribe/subscribe-mob-2x.webp");
  }
}
@media screen and (min-width: 767.98px) {
  .subscribe__liner {
    margin-bottom: 20px;
    background-image: url("../images/subscribe/subscribe-tab-1x.png");
    background-size: 281px 136px;
    background-position: top right;
    height: 136px;
  }
}
@media screen and (min-width: 767.98px) and (min-device-pixel-ratio: 2), screen and (min-width: 767.98px) and (o-min-device-pixel-ratio: 2/1), screen and (min-width: 767.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 767.98px) and (min-resolution: 192dpi), screen and (min-width: 767.98px) and (min-resolution: 2dppx) {
  .subscribe__liner {
    background-image: url("../images/subscribe/subscribe-tab-2x.png");
  }
}
@media screen and (min-width: 767.98px) and (min-device-pixel-ratio: 1), screen and (min-width: 767.98px) and (o-min-device-pixel-ratio: 1/1), screen and (min-width: 767.98px) and (-webkit-min-device-pixel-ratio: 1), screen and (min-width: 767.98px) and (min-resolution: 96dpi), screen and (min-width: 767.98px) and (min-resolution: 1dppx) {
  .subscribe__liner {
    background-image: url("../images/subscribe/subscribe-tab-1x.webp");
  }
}
@media screen and (min-width: 767.98px) and (min-device-pixel-ratio: 2), screen and (min-width: 767.98px) and (o-min-device-pixel-ratio: 2/1), screen and (min-width: 767.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 767.98px) and (min-resolution: 192dpi), screen and (min-width: 767.98px) and (min-resolution: 2dppx) {
  .subscribe__liner {
    background-image: url("../images/subscribe/subscribe-tab-2x.webp");
  }
}
@media screen and (min-width: 1279.98px) {
  .subscribe__liner {
    margin-bottom: 0px;
    background-image: url("../images/subscribe/subscribe-desk-1x.png");
    background-size: 608px 266px;
    background-position: top right;
    height: 266px;
    width: 50%;
  }
}
@media screen and (min-width: 1279.98px) and (min-device-pixel-ratio: 2), screen and (min-width: 1279.98px) and (o-min-device-pixel-ratio: 2/1), screen and (min-width: 1279.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1279.98px) and (min-resolution: 192dpi), screen and (min-width: 1279.98px) and (min-resolution: 2dppx) {
  .subscribe__liner {
    background-image: url("../images/subscribe/subscribe-desk-2x.png");
  }
}
@media screen and (min-width: 1279.98px) and (min-device-pixel-ratio: 1), screen and (min-width: 1279.98px) and (o-min-device-pixel-ratio: 1/1), screen and (min-width: 1279.98px) and (-webkit-min-device-pixel-ratio: 1), screen and (min-width: 1279.98px) and (min-resolution: 96dpi), screen and (min-width: 1279.98px) and (min-resolution: 1dppx) {
  .subscribe__liner {
    background-image: url("../images/subscribe/subscribe-desk-1x.webp");
  }
}
@media screen and (min-width: 1279.98px) and (min-device-pixel-ratio: 2), screen and (min-width: 1279.98px) and (o-min-device-pixel-ratio: 2/1), screen and (min-width: 1279.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1279.98px) and (min-resolution: 192dpi), screen and (min-width: 1279.98px) and (min-resolution: 2dppx) {
  .subscribe__liner {
    background-image: url("../images/subscribe/subscribe-desk-2x.webp");
  }
}

@media screen and (min-width: 1279.98px) {
  .subscribe__item {
    width: 50%;
  }
}

.subscribe__title {
  line-height: 1.21;
  width: 280px;
}
@media screen and (min-width: 767.98px) {
  .subscribe__title {
    line-height: 1.19;
    width: 100%;
  }
}

.subscribe__form {
  display: flex;
  gap: 20px;
}
.subscribe__form:focus-within {
  border-color: #7EB101;
}
@media screen and (max-width: 767.98px) {
  .subscribe__form {
    flex-direction: column;
    align-items: flex-end;
  }
}
@media screen and (min-width: 767.98px) {
  .subscribe__form {
    gap: 22px;
  }
}

.subscribe__intro {
  margin-bottom: 40px;
}
@media screen and (min-width: 767.98px) {
  .subscribe__intro {
    margin-bottom: 24px;
  }
}

.subscribe-form__input {
  width: 100%;
  height: 42px;
  padding: 12px 11px;
  font-size: 12px;
  line-height: 1.5;
  color: #505050;
  background: #FEFEFE;
  border: 1px solid #FFE550;
  border-radius: 30px;
  outline: none;
  transition: border-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-form__input:hover, .subscribe-form__input:focus, .subscribe-form__input:active {
  border-color: #7EB101;
}
.subscribe-form__input:invalid {
  border-color: #ff705d;
}

@media screen and (min-width: 767.98px) {
  .form--input {
    width: 394px;
  }
}

.subscribe-form__button {
  width: 103px;
  height: 42px;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  color: #2C2C2C;
  background: #BBF330;
  border: none;
  border-radius: 30px;
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.subscribe-form__button:hover, .subscribe-form__button:focus, .subscribe-form__button:active {
  background-color: #7EB101;
}

.footer--fon {
  background: #FEFEFE;
  box-shadow: 0px -4px 24px rgba(105, 105, 105, 0.1);
  background-repeat: no-repeat;
  background-position: bottom center;
}
@media screen and (max-width: 767.98px) {
  .footer--fon {
    background-size: 100% 619px;
    background-image: url("../images/footer/bcgmob1x.jpg");
  }
}
@media screen and (max-width: 767.98px) and (min-device-pixel-ratio: 2), screen and (max-width: 767.98px) and (o-min-device-pixel-ratio: 2/1), screen and (max-width: 767.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767.98px) and (min-resolution: 192dpi), screen and (max-width: 767.98px) and (min-resolution: 2dppx) {
  .footer--fon {
    background-image: url("../images/footer/bcgmob2x.jpg");
  }
}
@media screen and (min-width: 767.98px) {
  .footer--fon {
    background-size: 100% 506px;
    background-image: url("../images/footer/bcgtab1x.jpg");
  }
}
@media screen and (min-width: 767.98px) and (min-device-pixel-ratio: 2), screen and (min-width: 767.98px) and (o-min-device-pixel-ratio: 2/1), screen and (min-width: 767.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 767.98px) and (min-resolution: 192dpi), screen and (min-width: 767.98px) and (min-resolution: 2dppx) {
  .footer--fon {
    background-image: url("../images/footer/bcgtab2x.jpg");
  }
}
@media screen and (min-width: 1279.98px) {
  .footer--fon {
    background-size: 100% 266px;
    background-image: url("../images/footer/bcgdesk1x.jpg");
  }
}
@media screen and (min-width: 1279.98px) and (min-device-pixel-ratio: 2), screen and (min-width: 1279.98px) and (o-min-device-pixel-ratio: 2/1), screen and (min-width: 1279.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1279.98px) and (min-resolution: 192dpi), screen and (min-width: 1279.98px) and (min-resolution: 2dppx) {
  .footer--fon {
    background-image: url("../images/footer/bcgdesk2x.jpg");
  }
}

@media screen and (max-width: 479.98px) {
  .container.footer-menu {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 479.98px) {
  .container.footer-menu {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 767.98px) {
  .container.footer-menu {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1279.98px) {
  .container.footer-menu {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 1279.98px) {
  .footer-top {
    display: flex;
    align-items: flex-start;
  }
}
.footer-navigation {
  display: flex;
  margin-bottom: 40px;
}
@media screen and (min-width: 1279.98px) {
  .footer-navigation {
    align-items: center;
    margin-bottom: 0;
  }
}

.footer-navigation__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  margin-left: 81px;
}
@media screen and (min-width: 767.98px) {
  .footer-navigation__list {
    flex-direction: inherit;
    align-items: center;
    margin-left: 114px;
  }
}
@media screen and (min-width: 1279.98px) {
  .footer-navigation__list {
    margin-right: 320px;
    margin-left: 148px;
  }
}

.footer-navigation__logo {
  width: 69px;
  height: 51px;
}

.footer-navigation__item {
  color: rgb(0, 0, 0);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
}

.footer-navigation__link:hover, .footer-navigation__link:focus {
  color: #BBF330;
}

.footer-navigation__item:not(:last-child) {
  margin-bottom: 20px;
}
@media screen and (min-width: 767.98px) {
  .footer-navigation__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 28px;
  }
}

@media screen and (min-width: 767.98px) {
  .footer-form {
    margin-bottom: 100px;
  }
}
@media screen and (min-width: 1279.98px) {
  .footer-form {
    margin-bottom: 80px;
  }
}

.subscribe-form {
  flex-direction: column;
  margin-bottom: 60px;
}

.subscribe-form__title {
  margin-bottom: 12px;
  color: #2C2C2C;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
}

.subscribe-form__submit {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 767.98px) {
  .subscribe-form__submit {
    margin-bottom: 12px;
    flex-direction: initial;
  }
}

.input--form {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  padding-left: 12px;
  text-align: left;
}
@media screen and (min-width: 767.98px) {
  .input--form {
    width: 279px;
    margin-right: 13px;
    margin-left: 0;
    margin-bottom: 0;
  }
}

.subscribe-form__btn {
  width: 103px;
  height: 42px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: 0;
  color: #2C2C2C;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.54;
  text-align: center;
  background: #FEFEFE;
  border: 1px solid #7EB101;
  border-radius: 30px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.subscribe-form__btn:hover, .subscribe-form__btn:focus {
  background-color: #FFE550;
}
@media screen and (min-width: 767.98px) {
  .subscribe-form__btn {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
  }
}

.subscribe-form__label {
  color: #2C2C2C;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
}
@media screen and (min-width: 479.98px) {
  .subscribe-form__label {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 767.98px) {
  .subscribe-form__label {
    margin-bottom: 100px;
  }
}

.subscribe-form__label--link {
  color: #7EB101;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

@media screen and (min-width: 767.98px) {
  .extra-information {
    display: flex;
    margin-bottom: 0;
  }
}

.extra-information__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
}
@media screen and (min-width: 767.98px) {
  .extra-information__list {
    justify-content: flex-start;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
  }
}

.extra-information__item {
  color: #7EB101;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
@media screen and (min-width: 767.98px) {
  .extra-information__item {
    font-size: 12px;
    line-height: 1.17;
  }
}

.extra-information__item:not(:last-child) {
  margin-right: 20px;
}

.extra-information__copyright {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  color: #2C2C2C;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
}
@media screen and (min-width: 767.98px) {
  .extra-information__copyright {
    text-align: right;
    margin-right: 0;
    margin-bottom: 0;
  }
}/*# sourceMappingURL=index.css.map */