@import '~node_modules/modern-normalize/modern-normalize.css';
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Kalam&family=Roboto:wght@400;500;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css");
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

address {
  font-style: normal;
}

button {
  font-family: inherit;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  color: #2C2C2C;
  margin-bottom: 20px;
}
@media screen and (min-width: 767.98px) {
  .title {
    font-size: 42px;
    line-height: 1.16;
  }
}

.container {
  min-width: 320px;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  outline: 2px solid tomato;
}
@media screen and (min-width: 479.98px) {
  .container {
    width: 479.98px;
  }
}
@media screen and (min-width: 767.98px) {
  .container {
    width: 767.98px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1279.98px) {
  .container {
    width: 1279.98px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 767.98px) {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.intro {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #2C2C2C;
}
@media screen and (min-width: 767.98px) {
  .intro {
    font-size: 16px;
    line-height: 1.5;
  }
}

.mySwiper {
  display: none;
}
@media screen and (min-width: 767.98px) {
  .mySwiper {
    display: block;
    width: 336px;
    height: 320px;
  }
}
@media screen and (min-width: 1279.98px) {
  .mySwiper {
    width: 608px;
    height: 580px;
  }
}

.customers__fon {
  background-repeat: no-repeat;
  background-position: top center;
}
@media screen and (max-width: 320px) {
  .customers__fon {
    background-size: 100% 769px;
    background-image: url("../images/customers-say/mobile-1x.png");
  }
}
@media screen and (max-width: 320px) and (min-device-pixel-ratio: 2), screen and (max-width: 320px) and (o-min-device-pixel-ratio: 2/1), screen and (max-width: 320px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 320px) and (min-resolution: 192dpi), screen and (max-width: 320px) and (min-resolution: 2dppx) {
  .customers__fon {
    background-image: url("../images/customers-say/mobile-1x.png");
  }
}
@media screen and (min-width: 321px) and (max-width: 479px) {
  .customers__fon {
    background-size: 100% 798px;
    background-image: url("../images/customers-say/480-1x.png");
  }
}
@media screen and (min-width: 321px) and (max-width: 479px) and (min-device-pixel-ratio: 2), screen and (min-width: 321px) and (max-width: 479px) and (o-min-device-pixel-ratio: 2/1), screen and (min-width: 321px) and (max-width: 479px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 321px) and (max-width: 479px) and (min-resolution: 192dpi), screen and (min-width: 321px) and (max-width: 479px) and (min-resolution: 2dppx) {
  .customers__fon {
    background-image: url("../images/customers-say/480-2x.png");
  }
}
@media screen and (min-width: 479.98px) {
  .customers__fon {
    background-size: 100% 798px;
    background-image: url("../images/customers-say/480-1x.png");
  }
}
@media screen and (min-width: 479.98px) and (min-device-pixel-ratio: 2), screen and (min-width: 479.98px) and (o-min-device-pixel-ratio: 2/1), screen and (min-width: 479.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 479.98px) and (min-resolution: 192dpi), screen and (min-width: 479.98px) and (min-resolution: 2dppx) {
  .customers__fon {
    background-image: url("../images/customers-say/480-2x.png");
  }
}
@media screen and (min-width: 767.98px) {
  .customers__fon {
    background-size: 100% 554px;
    background-image: url("../images/customers-say/tablet-1x.png");
  }
}
@media screen and (min-width: 767.98px) and (min-device-pixel-ratio: 2), screen and (min-width: 767.98px) and (o-min-device-pixel-ratio: 2/1), screen and (min-width: 767.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 767.98px) and (min-resolution: 192dpi), screen and (min-width: 767.98px) and (min-resolution: 2dppx) {
  .customers__fon {
    background-image: url("../images/customers-say/tablet-2x.png");
  }
}
@media screen and (min-width: 1279.98px) {
  .customers__fon {
    background-size: 100% 647px;
    background-image: url("../images/customers-say/desktop-1x.png");
  }
}
@media screen and (min-width: 1279.98px) and (min-device-pixel-ratio: 2), screen and (min-width: 1279.98px) and (o-min-device-pixel-ratio: 2/1), screen and (min-width: 1279.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1279.98px) and (min-resolution: 192dpi), screen and (min-width: 1279.98px) and (min-resolution: 2dppx) {
  .customers__fon {
    background-image: url("../images/customers-say/desktop-2x.png");
  }
}

.customers {
  padding-bottom: 0;
}
@media screen and (min-width: 767.98px) {
  .customers {
    padding-top: 60px;
  }
}

@media screen and (min-width: 767.98px) {
  .custumer-blocks {
    display: flex;
  }
}

.customers__title {
  width: 280px;
}
@media screen and (min-width: 767.98px) {
  .customers__title {
    width: 100%;
  }
}

.customers__intro {
  width: 280px;
  margin-bottom: 32px;
}
@media screen and (min-width: 767.98px) {
  .customers__intro {
    width: 100%;
  }
}

.customers-review {
  width: 280px;
  padding: 8px;
  background: #ffffff;
  border-radius: 0px 30px 30px 30px;
}
@media screen and (max-width: 767.98px) {
  .customers-review {
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1279.98px) {
  .customers-review {
    width: 501px;
    padding: 14px;
  }
}

@media screen and (min-width: 767.98px) {
  .customers-review:not(:last-child) {
    margin-right: 32px;
  }
}
@media screen and (min-width: 1279.98px) {
  .customers-review:not(:last-child) {
    margin-right: 139px;
  }
}

.customers-review__list {
  margin-bottom: 28px;
  display: flex;
  gap: 4px;
}

.customers-review__text {
  font-family: "Roboto", sans-serif;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.18;
  color: #2c2c2c;
}
@media screen and (min-width: 767.98px) {
  .customers-review__text {
    font-size: 18px;
    line-height: 1.16;
  }
}

.customers-review__person {
  display: flex;
  width: 160px;
  height: 52px;
  border-right: 0.854167px solid #7eb101;
}

.customers-review__picture {
  margin-right: 16px;
}

.customers-review__name {
  margin-bottom: 2px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #2c2c2c;
}

.customers-review__employment {
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 150%;
  color: #2c2c2c;
}

.subscribe {
  margin-top: -10px;
  padding-top: 0px;
}
@media screen and (min-width: 767.98px) {
  .subscribe {
    margin-top: 36px;
  }
}
@media screen and (min-width: 1279.98px) {
  .subscribe {
    margin-top: 156px;
  }
}

@media screen and (min-width: 1279.98px) {
  .subscribe__column {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
}

.subscribe__liner {
  display: flex;
  flex-direction: column-reverse;
  height: 78px;
  margin-bottom: 17px;
  background-image: url("../images/subscribe/subscribe-mob-1x.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 161px 78px;
}
@media (min-device-pixel-ratio: 2), screen and (o-min-device-pixel-ratio: 2/1), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .subscribe__liner {
    background-image: url("../images/subscribe/subscribe-mob-2x.png");
  }
}
@media (min-device-pixel-ratio: 1), screen and (o-min-device-pixel-ratio: 1/1), screen and (-webkit-min-device-pixel-ratio: 1), screen and (min-resolution: 96dpi), screen and (min-resolution: 1dppx) {
  .subscribe__liner {
    background-image: url("../images/subscribe/subscribe-mob-1x.webp");
  }
}
@media (min-device-pixel-ratio: 2), screen and (o-min-device-pixel-ratio: 2/1), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .subscribe__liner {
    background-image: url("../images/subscribe/subscribe-mob-2x.webp");
  }
}
@media screen and (min-width: 767.98px) {
  .subscribe__liner {
    margin-bottom: 20px;
    background-image: url("../images/subscribe/subscribe-tab-1x.png");
    background-size: 281px 136px;
    background-position: top right;
    height: 136px;
  }
}
@media screen and (min-width: 767.98px) and (min-device-pixel-ratio: 2), screen and (min-width: 767.98px) and (o-min-device-pixel-ratio: 2/1), screen and (min-width: 767.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 767.98px) and (min-resolution: 192dpi), screen and (min-width: 767.98px) and (min-resolution: 2dppx) {
  .subscribe__liner {
    background-image: url("../images/subscribe/subscribe-tab-2x.png");
  }
}
@media screen and (min-width: 767.98px) and (min-device-pixel-ratio: 1), screen and (min-width: 767.98px) and (o-min-device-pixel-ratio: 1/1), screen and (min-width: 767.98px) and (-webkit-min-device-pixel-ratio: 1), screen and (min-width: 767.98px) and (min-resolution: 96dpi), screen and (min-width: 767.98px) and (min-resolution: 1dppx) {
  .subscribe__liner {
    background-image: url("../images/subscribe/subscribe-tab-1x.webp");
  }
}
@media screen and (min-width: 767.98px) and (min-device-pixel-ratio: 2), screen and (min-width: 767.98px) and (o-min-device-pixel-ratio: 2/1), screen and (min-width: 767.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 767.98px) and (min-resolution: 192dpi), screen and (min-width: 767.98px) and (min-resolution: 2dppx) {
  .subscribe__liner {
    background-image: url("../images/subscribe/subscribe-tab-2x.webp");
  }
}
@media screen and (min-width: 1279.98px) {
  .subscribe__liner {
    margin-bottom: 0px;
    background-image: url("../images/subscribe/subscribe-desk-1x.png");
    background-size: 608px 266px;
    background-position: top right;
    height: 266px;
    width: 50%;
  }
}
@media screen and (min-width: 1279.98px) and (min-device-pixel-ratio: 2), screen and (min-width: 1279.98px) and (o-min-device-pixel-ratio: 2/1), screen and (min-width: 1279.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1279.98px) and (min-resolution: 192dpi), screen and (min-width: 1279.98px) and (min-resolution: 2dppx) {
  .subscribe__liner {
    background-image: url("../images/subscribe/subscribe-desk-2x.png");
  }
}
@media screen and (min-width: 1279.98px) and (min-device-pixel-ratio: 1), screen and (min-width: 1279.98px) and (o-min-device-pixel-ratio: 1/1), screen and (min-width: 1279.98px) and (-webkit-min-device-pixel-ratio: 1), screen and (min-width: 1279.98px) and (min-resolution: 96dpi), screen and (min-width: 1279.98px) and (min-resolution: 1dppx) {
  .subscribe__liner {
    background-image: url("../images/subscribe/subscribe-desk-1x.webp");
  }
}
@media screen and (min-width: 1279.98px) and (min-device-pixel-ratio: 2), screen and (min-width: 1279.98px) and (o-min-device-pixel-ratio: 2/1), screen and (min-width: 1279.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1279.98px) and (min-resolution: 192dpi), screen and (min-width: 1279.98px) and (min-resolution: 2dppx) {
  .subscribe__liner {
    background-image: url("../images/subscribe/subscribe-desk-2x.webp");
  }
}

@media screen and (min-width: 1279.98px) {
  .subscribe__item {
    width: 50%;
  }
}

.subscribe__title {
  line-height: 1.21;
  width: 280px;
}
@media screen and (min-width: 767.98px) {
  .subscribe__title {
    line-height: 1.19;
    width: 100%;
  }
}

.subscribe__form {
  display: flex;
  gap: 20px;
}
.subscribe__form:focus-within {
  border-color: #7EB101;
}
@media screen and (max-width: 767.98px) {
  .subscribe__form {
    flex-direction: column;
    align-items: flex-end;
  }
}
@media screen and (min-width: 767.98px) {
  .subscribe__form {
    gap: 22px;
  }
}

.subscribe__intro {
  margin-bottom: 40px;
}
@media screen and (min-width: 767.98px) {
  .subscribe__intro {
    margin-bottom: 24px;
  }
}

.subscribe-form__input {
  width: 100%;
  height: 42px;
  padding: 12px 11px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 1.5;
  color: #505050;
  background: #FEFEFE;
  border: 0.854167px solid #FFE550;
  border-radius: 30px;
  outline: none;
}
.subscribe-form__input:hover, .subscribe-form__input:focus, .subscribe-form__input:active {
  border-color: #7EB101;
}
.subscribe-form__input:invalid {
  border-color: #ff705d;
}
@media screen and (min-width: 767.98px) {
  .subscribe-form__input {
    width: 394px;
  }
}

.subscribe-form__button {
  width: 103px;
  height: 42px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  color: #2C2C2C;
  background: #BBF330;
  border: none;
  border-radius: 30px;
}
.subscribe-form__button:hover, .subscribe-form__button:focus, .subscribe-form__button:active {
  background: #7EB101;
}/*# sourceMappingURL=index.css.map */