// Fonts
$basic: "Roboto", sans-serif;
$additional: 'Kalam', cursive;
$reserve: 'Inter', sans-serif;

// Colors
$main-color: #FFE550;
$accent-color: #BBF330;
$secondary-color: #7EB101;
$primery-color: #FEFEFE;
$text-color: #2C2C2C;
$secondary-text-color: #505050;


