<section class="customers section">
  <div class="container">
    <h2 class="customers__title title">What our Customers Say</h2>
    <p class="customers__intro intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <ul class="customers-blocks">
    <li class="customers-blocks__item">
    <ul class="customers-ranking">
    <li class="customers-ranking__item">
    <svg class="customers-ranking__icon" width="17" height="16">
    <use href="../src/images/customers-say/customers-say.svg#icon-star"></use>
    </svg>
    </li>
    <li class="customers-ranking__item">
    <svg class="customers-ranking__icon" width="17" height="16">
    <use href="../src/images/customers-say/customers-say.svg#icon-star"></use>
    </svg>
    </li>
    <li class="customers-ranking__item">
    <svg class="customers-ranking__icon" width="17" height="16">
    <use href="../src/images/customers-say/customers-say.svg#icon-star"></use>
    </svg>
    </li>
    <li class="customers-ranking__item">
    <svg class="customers-ranking__icon" width="17" height="16">
    <use href="../src/images/customers-say/customers-say.svg#icon-star"></use>
    </svg>
    </li>
    <li class="customers-ranking__item">
    <svg class="customers-ranking__icon" width="17" height="16">
    <use href="../src/images/customers-say/customers-say.svg#icon-star"></use>
    </svg>
    </li>
    </ul>
    <p class="customers-blocks__text">“The Best app I have used to order food in a while, so many options to choose from too, I would recommend to a freind, No questions asked”
    </p>
    <a class="customers-blocks__link" href="">
    <picture class="customers-blocks__picture">
    <source srcset="../src/images/customers-say/person-1-1x.jpg 1x, ../src/images/customers-say/person-1-2x.jpg 2x"/>
    <img src="../src/images/customers-say/person-1-1x.jpg" alt="customer photo" />
    </picture>
    <div class="customers-personabout">
    <h3 class="customers-blocks__name">Sumith Shah</h3>
    <p class="customers-blocks__employment">Some Dude</p>
    </div>
    </a>
    </li>
    <li class="customers-blocks__item">
    <ul class="customers-ranking">
    <li class="customers-ranking__item">
    <svg class="customers-ranking__icon" width="17" height="16">
    <use href="../src/images/customers-say/customers-say.svg#icon-star"></use>
    </svg>
    </li>
    <li class="customers-ranking__item">
    <svg class="customers-ranking__icon" width="17" height="16">
    <use href="../src/images/customers-say/customers-say.svg#icon-star"></use>
    </svg>
    </li>
    <li class="customers-ranking__item">
    <svg class="customers-ranking__icon" width="17" height="16">
    <use href="../src/images/customers-say/customers-say.svg#icon-star"></use>
    </svg>
    </li>
    <li class="customers-review__item">
    <svg class="customers-review__icon" width="17" height="16">
    <use href="../src/images/customers-say/customers-say.svg#icon-star"></use>
    </svg>
    </li>
    <li class="customers-ranking__item">
    <svg class="customers-ranking__icon" width="17" height="16">
    <use href="../src/images/customers-say/customers-say.svg#icon-star"></use>
    </svg>
    </li>
    </ul>
    <p class="customers-blocks__text">“The ease with which I can just go in and order what i want was amazing, It has been a very pleasant experience ordering from this app”
    </p>
    <a class="customers-blocks__link" href="">
    <picture class="customers-blocks__picture">
    <source srcset="../src/images/customers-say/person-2-1x.jpg 1x, ../src/images/customers-say/person-2-2x.jpg 2x" />
    <img src="../src/images/customers-say/person-2-1x.jpg" alt="customer photo" />
    </picture>
    <div class="customers-personabout">
    <h3 class="customers-blocks__name">Sumith Shah</h3>
    <p class="customers-blocks__employment">Some Dude</p>
    </div>
    </a>
    </li>
    </ul>

    </div>

</section>
