<section class="favorites section">
  <div class="container">
    <h2 class="favorites__title title">Some of Our Favorites</h2>
    <p class="favorites__intro intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <ul class="favorites__list">
      <li class="favorites__item">
            <picture class="favorites__menu">
                <source
                  srcset="../src/images/favorites/imgmobile/gamburger.png"
                  media="(min-width: 480px)"
                />
                <source
                  srcset="../src/images/favorites/imgtab/gamburgergamburger@.png 2x, ../src/images/favorites/imgtab/gamburgergamburger.png 1x"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="../src/images/favorites/imgdesktop/gamburgergamburger@.png 2x, ../src/images/favorites/imgdesktop/gamburgergamburger.png 1x"
                  media="(min-width: 1200px)"/> 
               
                <img
                  class="favorites__photo"
                  src="../src/images/favorites/imgmobile/gamburger.png"
                  alt="gamburger"
                />
            </picture>

      </li>
      <li class="favorites__item">
          <picture class="favorites__menu">
                   <source
                  srcset="../src/images/favorites/imgmobile/Pasta.png"
                  media="(min-width: 480px)"
                />
                <source
                  srcset="../src/images/favorites/imgtab/Pastapasta@.png 2x, ../src/images/favorites/imgtab/Pastapasta.png 1x"
                  media="(min-width: 768px)"
                /> 
                <source
                  srcset="../src/images/favorites/imgdesktop/Pastapasta@.png 2x, ../src/images/favorites/imgdesktop/Pastapasta.png 1x"
                  media="(min-width: 1200px)"/>
              
                <img
                  class="favorites__photo"
                  src="../src/images/favorites/imgmobile/Pasta.png"
                  alt="pasta"
                />
           </picture>
      </li>
      <li class="favorites__item">
          <picture class="favorites__menu">
                 <source
                  srcset="../src/images/favorites/imgmobile/pizza.png"
                  media="(min-width: 480px)"
                />
                <source
                  srcset="../src/images/favorites/imgtab/pizzapizza@.png 2x, ../src/images/favorites/imgtab/pizzapizza.png 1x"
                  media="(min-width: 768px)"/>
                 <source
                  srcset="../src/images/favorites/imgdesktop/pizzapizza@.png 2x, ../src/images/favorites/imgdesktop/pizzapizza.png 1x"
                  media="(min-width: 1200px)"/>
               
                <img
                  class="favorites__photo"
                  src="../src/images/favorites/imgmobile/pizza.png"
                  alt="pizza"
                /> 
           </picture>
      </li>
      <li class="favorites__item">
           <picture class="favorites__menu">
                  <source
                  src="../src/images/favorites/imgmobile/pizza.png"
                  media="(min-width: 480px)"
                />
                <source
                  srcset="../src/images/favorites/imgtab/chickenchicken@.png 2x, ../src/images/favorites/imgtab/chickenchicken.png 1x"
                  media="(min-width: 768px)"
                />
                  <source
                  srcset="../src/images/favorites/imgdesktop/chickenchicken@.png 2x, ../src/images/favorites/imgdesktop/chickenchicken.png 1x"
                  media="(min-width: 1200px)"/>
              
                <img
                  class="favorites__photo"
                  src="../src/images/favorites/imgdesktop/chickenchicken.png"
                  alt="chickenchicken"
                />
           </picture>
      </li>
      <li class="favorites__item">
            <picture class="favorites__menu">
                  <source
                  srcset="../src/images/favorites/imgmobile/pizza.png"
                  media="(min-width: 480px)"
                />
                <source
                  srcset="../src/images/favorites/imgtab/salatsalat@.png 2x, ../src/images/favorites/imgtab/salatsalat.png 1x"
                  media="(min-width: 768px)"
                /> 
                   <source
                  srcset="../src/images/favorites/imgdesktop/salatsalat@.png 2x, ../src/images/favorites/imgdesktop/salatsalat.png 1x"
                  media="(min-width: 1200px)"/>
              
                <img
                  class="favorites__photo"
                  src="../src/images/favorites/imgdesktop/salatsalat.png"
                  alt="salatsalat"
                />
           </picture>
      </li>
      <li class="favorites__item">
             <picture class="favorites__menu">
                <source
                  src="../src/images/favorites/imgmobile/pizza.png"
                  media="(min-width: 480px)"
                />
                  <source
                  srcset="../src/images/favorites/imgtab/borshchborshch@.png 2x, ../src/images/favorites/imgtab/borshchborshch.png 1x"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="../src/images/favorites/imgdesktop/borshchborshch@.png 2x, ../src/images/favorites/imgdesktop/borshchborshch.png 1x"
                  media="(min-width: 1200px)"/>
              
              
                <img
                  class="favorites__photo"
                  src="../src/images/favorites/imgdesktop/borshchborshch.png"
                  alt="borshchborshch"
                />
           </picture>
      </li>
    </ul>
  </div>
</section>
