<section class="footer footer--fon">
  <div class="container footer-menu">
    <div class="footer-top">
      <div class="footer-navigation">
        <a class="footer-navigation__logo" href="./index.html">
          <svg class="footer-navigation__svg" width="69" height="51">
            <use href="../src/images/footer/symbol-defs.svg#icon-Frame-216-1"></use>
          </svg>
        </a>
        <ul class="footer-navigation__list">
          <li class="footer-navigation__item">
            <a href="#home">Home</a>
          </li>
          <li class="footer-navigation__item">
            <a href="#about">About</a>
          </li>
          <li class="footer-navigation__item"><a href="">Service</a></li>
          <li class="footer-navigation__item"><a href="#menu">Menu</a></li>
          <li class="footer-navigation__item"><a href="#contact">Contact</a></li>
        </ul>
      </div>

      <form class="subscribe-form">
        <h2 class="subscribe-form__title">Subscribe</h2>
        <div class="subscribe-form__submit">
          <input class="subscribe-form__input input--form" type="email" placeholder="Enter your email" />
          <button type="button" class="subscribe-form__btn" type="submit">Subscribe</button>
        </div>
        <label class="subscribe-form__label">
          <span>By subscribing you agree to with our a
            <a class="subscribe-form__label--link" href="">Privacy Policy</a>
          </span>
        </label>
      </form>
    </div>

    <div class="extra-information">
      <ul class="extra-information__list">
        <li class="extra-information__item">
          <a href="">Privacy Policy</a>
        </li>
        <li class="extra-information__item">
          <a href="">Terms of Service</a>
        </li>
        <li class="extra-information__item">
          <a href="">Cookies Settings</a>
        </li>
      </ul>
      <p class="extra-information__copyright">
        2022 FoodSta. All right reserved.
      </p>
    </div>
  </div>
</section>