<section class="headerbar">
  <div class="container">
    <div>
      <h1 class="headerbar__title">Тут буде Hero</h1>
      <p class="headerbar__intro intro"></p>
    </div>
    <div class="swiper mySwiper" >
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">Slide 1</div>
        <div class="swiper-slide">Slide 2</div>
        <div class="swiper-slide">Slide 3</div>
      </div>
      <!-- If we need navigation buttons -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>

    </div>
  </div>
</section>
