<section class="offerings section">
  <div class="container container--offerings ">
    <div class="offerings__decor"></div>
    <div class="offerings__wrapper">
      <h2 class="offerings__title title">What’s Special About Our Offerings</h2>
      <p class="offerings__intro intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in
        eros elementum tristique. Duis
        cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
      <ul class="offerings__list">
        <li class="offerings__item">
          <svg class="offerings__icon" width="48" height="48">
            <use href="/src/images/symbol-defs-min.svg#icon-Icon-Deliv">
            </use>
          </svg>
          <h3 class="offerings__subtitle">Fasest Delivery</h3>
          <p class="offerings__text intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in
            eros.</p>
        </li>
        <li class="offerings__item">
          <svg class="offerings__icon" width="48" height="48">
            <use href="/src/images/symbol-defs-min.svg#icon-Icon-Order">
            </use>
          </svg>
          <h3 class="offerings__subtitle">Easy to order</h3>
          <p class="offerings__text intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in
            eros.</p>
        </li>
      </ul>
      <div class="offerings__communication">
        <button class="offerings__button" type="button">Order Now</button>
        <a class="offerings__link" href="#favorites" target="_blank" rel="noreferrer noopener">Read More</a>
      </div>
    </div> 
  </div>
</section>
