<section class="subscribes section">
  <div class="container" id="contact">
    <div class="subscribe__column subscribe">
      <div class="subscribe__liner"></div>
      <div class="subscribe__item">
        <h2 class="subscribe__title title">Subscribe To Get Special Offers</h2>
    <p class="subscribe__intro intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
          <form class="subscribe__form" name="Subscribe To Get Special Offers" >
            <input class="subscribe-form__input form--input" type="email" placeholder="Enter your email" />
            <button class="subscribe-form__button" type="submit">Subscribe</button>
          </form>
      </div>
    </div>
  </div>
</section>