.favorites {
  text-align: center;
  @media screen and (max-width: $tab) {
.favorites__item:nth-last-child(-n + 3) {
display: none;
}
}
}

.favorites__title {
  margin-bottom: 20px;
}

.favorites__intro {
  margin-bottom: 60px;

  @media screen and (min-width: $desk) {
    margin-bottom: 40px;
  }
}

.favorites__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 20px;
  justify-content: center;

  @media screen and (min-width: $tab) {
    gap: 32px;
  }
}

.favorites__item {
  width: 280px;
  height: 282px;
  border: 11px solid $main-color;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: $tab) {
    width: 336px;
    height: 338px;
    width: calc((100% - 32px) / 2);
    background: $primery-color;
    border: 14px solid $main-color;
    
  }

  @media screen and (min-width: $desk) {

    width: calc((100% - 64px) / 3);
    width: 395px;
    height: 397px;
  }
}

.favorites__item:hover, .favorites__item:focus {
  border: 14px solid $accent-color;
}
