.footer--fon {
    background-repeat: no-repeat;
    background-position: bottom center;
    @media screen and (max-width: $tab) {
        background-size: 100% 619px;
        background-image: url('../images/footer/bcgmob1x.jpg');
        @media (min-device-pixel-ratio: 2),
      screen and (o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/footer/bcgmob2x.jpg');
    }
  }

  @media screen and (min-width: $tab) {
      background-size: 100% 506px;
      background-image: url('../images/footer/bcgtab1x.jpg');

      @media (min-device-pixel-ratio: 2),
      screen and (o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
          background-image: url('../images/footer/bcgtab2x.jpg');
      }
  }

  @media screen and (min-width: $desk) {
      background-size: 100% 266px;
      background-image: url('../images/footer/bcgdesk1x.jpg');

      @media (min-device-pixel-ratio: 2),
      screen and (o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
          background-image: url('../images/footer/bcgdesk2x.jpg');
      }
  }
}

.container.footer-menu {
    @media screen and (max-width: $mob) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @media screen and (min-width: $mob) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @media screen and (min-width: $tab) {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    @media screen and (min-width: $desk) {
        padding-top: 100px;
        padding-bottom: 100px;
    }   
}


@media screen and (min-width: $desk) {
    .footer-top {
        display: flex;
        align-items: flex-start;
    }
}

.footer-navigation {
    display: flex;
    margin-bottom: 40px;

    @media screen and (min-width: $desk) {
        align-items: center;
        margin-bottom: 0;
    }
}

.footer-navigation__list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    margin-left: 81px;

        @media screen and (min-width: $tab) {
            flex-direction: inherit;
            align-items: center;
            margin-left: 114px;
        }

        @media screen and (min-width: $desk) {
            margin-right: 320px;
            margin-left: 148px;
        }
}

.footer-navigation__logo {
    width: 69px;
    height: 51px;
}

.footer-navigation__item {
    color: rgba(0, 0, 0, 1);
    font-family: $basic;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
}

.footer-navigation__item:not(:last-child) {
    margin-bottom: 20px;

       @media screen and (min-width: $tab) {
        margin-bottom: 0;
        margin-right: 28px;
    } 
}

.subscribe-form {
    flex-direction: column;
    margin-bottom: 60px;
        @media screen and (min-width: $tab) {
            margin-bottom: 100px;
        }

        @media screen and (min-width: $desk) {
            margin-bottom: 80px;
        }
}

.subscribe-form__title {
    margin-bottom: 12px;
    color: $text-color;
    font-family: $basic;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
}

.subscribe-form__submit {
    display: flex;
    flex-direction: column;
     
    @media screen and (min-width: $tab) {
        margin-bottom: 12px;
        flex-direction: initial;
    }
}

.subscribe-form__input {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    padding-left: 12px;
    text-align: left;

    @media screen and (min-width: $tab) {
        width: 279px;
        margin-right: 13px;
        margin-left: 0;
        margin-bottom: 0;
    }
}

.subscribe-form__btn {
    width: 103px;
    height: 42px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: 0;
    color: $text-color;
    font-family: $basic;
    font-weight: 500;
    font-size: 13px;  
    line-height: 1.54;
    text-align: center;
    background: $primery-color;
    border: 0.854167px solid $secondary-color;
    border-radius: 30px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
        background-color: $main-color;
    }

    @media screen and (min-width: $tab) {
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 0;
    }
}

.subscribe-form__label {
    color: $text-color;
    font-family: $basic;
    font-weight: 400;
    font-size: 12px; 
    line-height: 1.17;
    
    @media screen and (min-width: $mob) {
        margin-bottom: 60px;
    }

    @media screen and (min-width: $tab) {
        margin-bottom: 100px;
    }
}

.subscribe-form__label--link {
    color: $secondary-color;
    font-family: $basic;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    text-decoration-line: underline;
}

.extra-information {
    @media screen and (min-width: $tab) {
        display: flex;
        margin-bottom: 0;
    }
}

.extra-information__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;

    @media screen and (min-width: $tab) {
    justify-content: flex-start;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
    }
}

.extra-information__item {
    color: $secondary-color;
    font-family: $basic;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    text-decoration-line: underline;    
}

.extra-information__item:not(:last-child) {
    margin-right: 20px;
}

.extra-information__copyright {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    color: $text-color;
    font-family: $basic;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;

    @media screen and (min-width: $tab) {
        text-align: right;
        margin-right: 0;
        margin-bottom: 0;
    }
}
