.headerbar__section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 60px;
    align-items: center;
    justify-content: center;
    position: relative;

    @media screen and (min-width: $tab) {
        justify-content: space-between;
    }

    @media screen and (min-width: $desk) {
        justify-content: space-between;
        padding-top: 14px;
    }
}

.headerbar__info {
    margin-top: 0px;
 @media screen and (min-width: $tab) {
    margin-top: 60px;
}

@media screen and (min-width: $desk) {
    margin-top: 0px;
}
}

.headerbar__title {
    max-width: 280px;
    margin-bottom: 28px;
    font-weight: 700;
    font-size: 27px;
    line-height: 33px;
    font-family: $basic; 
    color: $text-color;
    
    @media screen and (min-width: $tab) {
        position: absolute;
        font-size: 42px;
        line-height: 1.2;
        max-width: 537px;
        margin-bottom: 0px;
        transform: translateY(-100%);
    }

    @media screen and (min-width: $desk) {
        position: initial;
        font-size: 48px;
        line-height: 1.2;
        max-width: 502px;
        margin-bottom: 28px;
        transform: translateY(0%);
    }
}

.headerbar__intro {
    max-width: 266px;
    font-size: 14.1px;
    margin-bottom: 28px;
    line-height: 1.5;

    @media screen and (min-width: $tab) {
        margin-bottom: 40px;
        font-size: 16px;
        max-width: 336px;
        margin-top: 44px;
    }
    
    @media screen and (min-width: $desk) {
        font-size: 16px;
        max-width: 502px;
        margin-top: 0px;
    }
}

.headerbar__button {
    font-family: $basic; 
    color: $text-color;
    border: none;
    margin-bottom: 50px;
    width: 98px;
    height: 32px;
    border-radius: 30px;
    align-items: center;
    text-align: center;
    font-weight: 500;
    font-size: 13px;
    background: $accent-color;
    cursor: pointer;
    
    &:hover,
    &:focus {
        background-color: #B5FF00;
    }

    @media screen and (min-width: $tab) {
        margin-bottom: 40px;
    }

    @media screen and (min-width: $desk) {
        margin-bottom: 0px;
    }
}

.mySwiper {
    display: none;
    margin: 0;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and (min-width: $tab) {
    display: flex;
    margin-top: 89px;
    justify-content: center;
    width: 320px;
    height: 320px;
    border: 14px solid $main-color ;
    border-radius: 50%;
    }

    @media screen and (min-width: $desk) {
        margin: 14px;
        margin-top: 0;
        width: 580px;
        height: 580px;
        border: 26px solid $main-color ;
        border-radius: 50%;
    }
    &:hover,
    &:focus {
        border-color: $accent-color;
    }
}
