.offerings__fon {
  background-repeat: no-repeat;
  background-position: bottom center;
  @media screen and (max-width: 320px) {
    background-size: 100% 1050px;
    background-image: url('../images/offerings/mobbg@1x.png');
    @media (min-device-pixel-ratio: 2),
      screen and (o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/offerings/mobbg@2x.png');
    }
  }
  @media screen and (min-width: 321px) and (max-width: 479px) {
    background-size: 100% 1050px;
    background-image: url('../images/offerings/mobbg480@1x.png');
    @media (min-device-pixel-ratio: 2),
      screen and (o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/offerings/mobbg480@2x.png');
    }
  }

  @media screen and (min-width: $mob) {
    background-size: 100% 1050px;
    background-image: url('../images/offerings/mobbg480@1x.png');
    @media (min-device-pixel-ratio: 2),
      screen and (o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/offerings/mobbg480@2x.png');
    }
  }
  @media screen and (min-width: $tab) {
    background-size: 100% 1140px;
    background-image: url('../images/offerings/tabbg@1x.png');
    @media (min-device-pixel-ratio: 2),
      screen and (o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/offerings/tabbg@2x.png');
    }
  }
  @media screen and (min-width: $desk) {
    background-size: 100% 824px;
    background-image: url('../images/offerings/deskbg@1x.png');
    @media (min-device-pixel-ratio: 2),
      screen and (o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/offerings/deskbg@1x.png');
    }
  }
}
.offerings {
    @media screen and (max-width: $tab) {
        margin-top: 45px;
        padding-bottom: 60px;
    }
  @media screen and (min-width: $tab) {
    margin-top: 36px;
    padding-bottom: 100px;
  }
  @media screen and (min-width: $desk) {
    margin-top: -85px;
        padding-bottom: 0;
  }
}
.offerings__position {
  @media screen and (min-width: $tab) {
    padding-top: 10px;
  }
  @media screen and (min-width: $desk) {
    padding-top: 100px;
    display: flex;
    gap: 90px;
    align-items: center;
  }
}
.offerings__wrapper {
  @media screen and (min-width: $desk) {
    width: 50%;
  }
}

.offerings__decor {
  display: flex;
  margin-bottom: 60px;
  height: 309px;
  background-image: url(../images/offerings/apple320@1x.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 280px 309px;
  @media screen and (min-width: $tab) {
    background-image: url(../images/offerings/appletab@1x.png);
    height: 394px;
    background-size: 704px 394px;
  }
  @media screen and (min-width: $desk) {
    background-image: url(../images/offerings/appledesk@1x.png);
    height: 604px;
    background-size: 550px 604px;
    width: 50%;
    margin-bottom: 43px;
  }
}
@media screen and (max-width: $tab) {
  @media screen and (min-device-pixel-ratio: 2),
    screen and(--weblit-min-device-pixel-ratio: 2),
    screen and (-o-min-device-pixel-ratio: 2/1),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .offerings__decor {
      background-image: url(../images/offerings/apple320@2x.png);
    }
  }
}
@media screen and (min-width: $tab) {
  @media screen and (min-device-pixel-ratio: 2),
    screen and(--weblit-min-device-pixel-ratio: 2),
    screen and (-o-min-device-pixel-ratio: 2/1),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .offerings__decor {
      background-image: url(../images/offerings/appletab@2x.png);
    }
  }
}
@media screen and (min-width: $desk) {
  @media screen and (min-device-pixel-ratio: 2),
    screen and(--weblit-min-device-pixel-ratio: 2),
    screen and (-o-min-device-pixel-ratio: 2/1),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .offerings__decor {
      background-image: url(../images/offerings/appledesk@2x.png);
    }
  }
}
.offerings__title {
  margin-bottom: 28px;
  max-width: 280px;
  @media screen and (min-width: $tab) {
    max-width: 526px;
    margin-bottom: 20px;
    line-height: 1.16;
  }
  @media screen and (min-width: $desk) {
    line-height: 1.19;
  }
}
.offerings__intro {
  width: 280px;
  margin-bottom: 28px;
  @media screen and (min-width: $tab) {
    width: 500px;
    line-height: 1.14;
  }
}
.offerings__list {
  @media screen and (min-width: $tab) {
    display: flex;
    gap: 116px;
  }
  @media screen and (min-width: $desk) {
    gap: 67px;
  }
}
.offerings__item {
  width: 252px;
  margin-bottom: 28px;
  @media screen and (min-width: $tab) {
    margin-bottom: 40px;
  }
  @media screen and (min-width: $desk) {
    width: calc((100% - 67px) / 2);
    margin-bottom: 32px;
  }
}
.offerings__icon {
  display: block;
  margin-bottom: 8px;
  border-radius: 50%;
  background-color: $primery-color;
}
.offerings__subtitle {
  margin-bottom: 16px;
  font-family: $basic;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  color: $text-color;
  @media screen and (min-width: $desk) {
    line-height: 1.39;
  }
}
.offerings__text {
  @media screen and (min-width: $tab) {
    line-height: 1.14;
  }
  @media screen and (min-width: $desk) {
    line-height: 1.14;
  }
}
.offerings__communication {
  display: flex;
  gap: 24px;
}
.offerings__button {
  width: 106px;
  height: 40px;
  border-radius: 30px;
  border: 2px solid $secondary-color;
  background-color: $primery-color;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.54;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  :focus {
    border: 2px solid #597d00;
  }
}
.offerings__link {
  font-family: $basic;
  font-size: 14px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  @media screen and (min-width: $desk) {
    display: none;
  }
}
.offerings__link::after {
  display: inline-block;
  content: '';
  width: 15px;
  height: 15px;
  margin-left: 4px;
  background-size: contain;
  background-image: url(../images/offerings/galka.svg);
}
